name: Deploy Blazor WebAssembly to Github Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x

      - name: Publish with dotnet
        # Ajustado para apontar para o projeto WebAssembly especifico
        run: dotnet publish ScreenSound.WebAssembly/ScreenSound.WebAssembly.csproj --configuration Release --output build

      - name: Change base-tag in index.html from / to repo name
        # Correção da sintaxe para evitar o erro de 'Unrecognized named-value'
        run: sed -i 's|<base href="/" />|<base href="/${{ github.event.repository.name }}/" |g' build/wwwroot/index.html

      - name: Commit wwwroot to GitHub Pages
        # Versão v4 é a mais recomendada para evitar erros de autenticação
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: build/wwwroot
